.container {
  display: flex;
  flex-grow: 1;
  background-color: rgba(231, 230, 230, 0.541);
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;
}

.register-image {
  width: 30%;
}

.content {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }
  .register-image {
    width: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
